<!DOCTYPE html>
<html>
<head>
    <title>POM Blockchain</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Welcome to POM Blockchain</h1>
    <a href="/login?type=user">User Login</a> | 
    <a href="/login?type=solver">Solver Login</a> | 
    <a href="/register?type=user">User Register</a> | 
    <a href="/register?type=solver">Solver Register</a>
</body>
</html>